a{
	font-size: 18px;
	margin:8px;
	color:#11659a;
}
p{
	font-size: 14px;
	font-family:'宋体'
}
h2{
	color:darkmagenta;
	font-size: 30px;
}

.blocks{
	padding-bottom: 10px;
}
.block1{
	padding: 1%;
}
.block2{
	padding: 1%;
}
.title a{
	font-size: 25px
}
#box11{
	float: left;
	width: 10%;
	margin: 1%
}
#box12{
	float: right;
	width: 100%;
	margin: 1%;
}
.parentblock{
	display:flex;
}
#box13{
	float: left;
	width: 47.5%;
}

#boxtransparent{
	color: #ffffff;
}

details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
}

